<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='stylesheets/bootstrap-theme.css'>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
<div class="container">
<header class="row">
    <h1 class="text-center col-xs-12">学生信息管理系统</h1>

    <form class="form-inline text-right" method="get" action="/search">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" >@</span>
                <input type="search" class="form-control " id="exampleInputAmount" name="keyword" placeholder="请输入学生姓名">
            </div>
        </div>
    </form>
    <article class="text-center">
        <%if(success){%>
        <h4 class="text-success"><%=success%></h4>
        <%}else if(error){%>
        <h4 class="text-danger"><%=error%></h4>
        <%}%>
    </article>
</header>

